<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.education.smartclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".roles.Organisation.fragments.ManualClassRegisterFragment2"></activity>
        <activity android:name=".roles.admin.ui.HomeActivity" />
        <activity android:name=".roles.Organisation.activities.OrganisationHomeActivity" />
        <activity android:name=".roles.login.ui.ResetPasswordActivity" />
        <activity android:name=".roles.login.ui.OtpActivity" />
        <activity android:name=".roles.login.ui.ForgotPasswordActivity" />
        <activity android:name=".roles.admin.ui.RegisterNewOrgActivity1" />
        <activity android:name=".roles.admin.ui.RegisterNewOrgActivity2" />
        <activity android:name=".roles.admin.ui.RegisterNewOrgActivity3" />
        <activity android:name=".roles.login.ui.LoginActivity" />
        <activity android:name=".roles.login.ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>